html,body{margin:0;background:white;color:#333;font:14px/1.5715 "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;letter-spacing:0;-webkit-font-smoothing:antialiased}
.tutorial-content{margin:15px 0 30px;padding:10px;overflow-wrap:anywhere}
.tutorial-content p{margin:0 0 9px}
.tutorial-content a{color:#3c8dff}
.tutorial-content img{max-width:100%;height:auto}
.tutorial-content table{max-width:100%}
